{"is_source_file": false, "format": "xcconfig", "description": "Configuration file for Xcode build settings, including inclusion of other configuration files.", "external_files": ["../../Flutter/Flutter-Release.xcconfig", "Warnings.xcconfig"], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["Release.xcconfig", "XCConfig includes", "Xcode configuration", "build settings", "iOS/macOS configuration"], "state": 2, "file_id": 13, "knowledge_revision": 145, "git_revision": "", "hash": "d36330778580798c0d9c5a5b71501a0f", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Runner/Configs/Release.xcconfig", "revision_history": [{"145": ""}]}